body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
}

::selection {
    background: #264f78;
    color: #ffffff;
}

.sync-scroll {
    scroll-behavior: auto;
}
